@model List<Medal>
@{
    ViewData["Title"] = "Medals";
}

<h1>Медали</h1>
<a class="btn btn-info float-right" href="/Administration/Index">Назад</a>
@if (Model.FirstOrDefault() != null)
{
    <div class="m-2">
        <table class="table table-bordered table-hover" id="tblExport">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Видимость</th>
                    <th>Изменения</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td>@b.Text</td>
                        <td>
                            <select asp-for="@b.Visible">
                                <option value="@true">Видно</option>
                                <option value="@false">Скрыто</option>
                            </select>
                        </td>
                        <td><a asp-action="UpdateMedal" asp-route-ID="@b.ID" class="btn btn-info">Сохранить</a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}