@model Review

<h1>Редактирование модели</h1>

<div class="m-2">
    <form method="post" enctype="multipart/form-data">
        <<div class="form-group">
            <label asp-for="Name">ФИО</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CompanyPosition">Должность</label>
            <input type="text" asp-for="CompanyPosition" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CompanyName">Название компании</label>
            <input type="text" asp-for="CompanyName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="TextMin">Мин. Текст</label>
            <input type="text" asp-for="TextMin" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Text">Текст</label>
            <textarea asp-for="Text" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="PhotoFolder">Фото</label>
            <img src="@Model.PhotoFolder" asp-append-version="true" class="form-control-file"/>
            <input type="file" name="PhotoFolder" accept=".png, .jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label asp-for="ReviewFolder">Фото отзыва</label>
            <img src="@Model.ReviewFolder" asp-append-version="true"  class="form-control-file"/>
            <input  type="file" name="ReviewFolder" accept=".png, .jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label asp-for="Type">Тип</label>
            <select asp-for="Type" class="form-control">
                <option value="@TypeReview.ServicesSector">Сфера услуг</option>
                <option value="@TypeReview.Wholesale">Оптовая торговля</option>
                <option value="@TypeReview.Retail">Розничная торговля</option>
                <option value="@TypeReview.Catering">Общественное питание</option>
                <option value="@TypeReview.Production">Производство</option>
                <option value="@TypeReview.Construction">Строительство</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn-info btn" value="Обновить" />
        </div>
    </form>

    <form method="post" asp-controller="Administration" asp-action="DeleteReview" asp-route-ID="@Model.ID">
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Удалить" />
        </div>
    </form>
</div>